body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: #fff;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: #f4c430;
}
/* SLIDER HERO */
.slider {
  position: relative;
  height: 75vh;
  overflow: hidden;
  background: #000;
}

.slides {
  position: absolute;
  inset: 0;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 0.6;
}

/* HERO CONTENT ON TOP */
.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 100px 40px;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #222;
}

.cta {
  background: #f4c430;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
}

/* HERO */
.hero {
  background: #fff;
  padding: 90px 40px;
}

.hero h1 {
  font-size: 42px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #111;
  color: #fff;
  padding: 14px 24px;
  border-radius: 6px;
  text-decoration: none;
}

/* SECTIONS */
.page {
  padding: 60px 40px;
}

.card {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* TRUST */
.trust {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 40px;
}

.trust-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* PRODUCTS */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 25px;
}

/* FOOTER */
footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 30px;
}
