body { font-family: Arial; margin:0; }
.header {
  padding:15px;
  background:#1e3a8a;
  color:#fff;
  display:flex;
  justify-content:space-between;
}
.logo span { color:#f5b301; }
.section { padding:40px; }
.btn {
  background:#f5b301;
  padding:10px;
  color:#000;
  text-decoration:none;
}
button {
  padding:10px 15px;
}
footer {
  text-align:center;
  padding:20px;
  background:#eee;
}
